{
  "name": "generate-it-client-server-static-functions",
  "version": "1.0.0",
  "description": "Server client for typescript server",
  "main": "index.js",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/acrontum/generate-it-client-server-static-functions.git"
  },
  "author": "Acrontum",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/acrontum/generate-it-client-server-static-functions"
  },
  "homepage": "https://github.com/acrontum/generate-it-client-server-static-functions#readme"
}
